@charset "UTF-8";
/*样式重置*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: none; }

img {
  display: block; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol {
  list-style: none; }

input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun","宋体"; }

input::-moz-focus-inner {
  border: none;
  padding: 0; }

select, input {
  vertical-align: middle; }

select, input, textarea {
  font-size: 12px;
  margin: 0; }

input[type="text"], input[type="password"], textarea {
  outline-style: none;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

body {
  color: #333;
  padding: 5px 0;
  font: 12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;
  background: #fff;
  /* overflow-y:scroll;*/ }

a {
  color: #666;
  text-decoration: none; }

a:visited {
  color: #666; }

a:hover, a:active, a:focus {
  color: #ff8400;
  text-decoration: underline; }

/*引入图标库*/
@font-face {
  font-family: 'iconfont';
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

body {
  background: #f9f9f9; }

.head-nav-wrap {
  width: 100%;
  height: 26px;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2; }
  .head-nav-wrap .head-nav {
    width: 1200px;
    margin: 0 auto;
    line-height: 26px; }
    .head-nav-wrap .head-nav .head-nav-left {
      float: left; }
      .head-nav-wrap .head-nav .head-nav-left a:hover {
        color: #C40000; }
    .head-nav-wrap .head-nav p {
      float: right; }
    .head-nav-wrap .head-nav .head-nav-right {
      float: right;
      margin-right: 10px; }
      .head-nav-wrap .head-nav .head-nav-right li {
        position: relative;
        float: left;
        font-family: "iconfont";
        padding: 0 5px;
        text-align: center; }
        .head-nav-wrap .head-nav .head-nav-right li span {
          float: right;
          margin-top: 10px;
          border-top: 3px solid #bbb;
          border-left: 3px solid #f2f2f2;
          border-right: 3px solid #f2f2f2; }
        .head-nav-wrap .head-nav .head-nav-right li a:hover {
          color: #C40000; }
        .head-nav-wrap .head-nav .head-nav-right li strong {
          color: #C40000; }

.head-nav-right li:nth-of-type(1):hover {
  background: #fff; }
  .head-nav-right li:nth-of-type(1):hover span {
    border: 0;
    border-bottom: 3px solid #bbb;
    border-left: 3px solid #f2f2f2;
    border-right: 3px solid #f2f2f2; }
  .head-nav-right li:nth-of-type(1):hover .myOrder2 {
    display: block; }

.head-nav-right li:nth-of-type(6):hover .list-pic {
  display: block; }

.head-nav-right li:nth-of-type(7):hover {
  background: #fff; }
  .head-nav-right li:nth-of-type(7):hover span {
    border: 0;
    border-bottom: 3px solid #bbb;
    border-left: 3px solid #f2f2f2;
    border-right: 3px solid #f2f2f2; }
  .head-nav-right li:nth-of-type(7):hover .web-nav {
    display: block; }

.head-nav-right li:nth-of-type(8):hover {
  background: #fff; }
  .head-nav-right li:nth-of-type(8):hover span {
    border: 0;
    border-bottom: 3px solid #bbb;
    border-left: 3px solid #f2f2f2;
    border-right: 3px solid #f2f2f2; }
  .head-nav-right li:nth-of-type(8):hover .myService {
    display: block; }

.list-pic {
  display: none; }

.myOrder {
  width: 74px; }

.myOrder2 {
  width: 84px;
  line-height: 26px;
  background: #fff;
  position: absolute;
  top: 26px;
  left: 0;
  display: none;
  z-index: 206; }
  .myOrder2 a {
    display: block;
    text-align: center; }

.web-nav1 {
  width: 74px; }

.web-nav {
  width: 145px;
  position: absolute;
  left: 0;
  top: 26px;
  z-index: 206;
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  display: none; }
  .web-nav div h3 {
    font-weight: 100;
    text-align: left;
    margin-left: 25px;
    line-height: 30px; }
  .web-nav div a {
    display: inline-block; }

.web-nav-1 a {
  margin-left: 10px; }

.web-nav-2 {
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .web-nav-2 a {
    margin-left: 8px; }

.web-nav-4 {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #eee;
  line-height: 40px; }

.myService1 {
  width: 74px; }

.myService {
  width: 84px;
  line-height: 26px;
  background: #fff;
  position: absolute;
  top: 26px;
  left: 0;
  z-index: 206;
  display: none; }
  .myService a {
    display: block; }

header {
  width: 100%;
  height: 249px;
  background: red; }
  header .header-top {
    width: 100%;
    height: 90px;
    background: url(../image/header1.jpg) no-repeat center; }
  header .header-search-wrap {
    width: 100%;
    height: 125px;
    background: #fff; }
    header .header-search-wrap .header-search {
      width: 1200px;
      margin: 0 auto;
      overflow: hidden; }
      header .header-search-wrap .header-search h1 {
        width: 257px;
        margin-top: 30px; }
        header .header-search-wrap .header-search h1 .left-log {
          float: left; }
        header .header-search-wrap .header-search h1 .right-log {
          float: left;
          margin-left: 10px; }
      header .header-search-wrap .header-search .header-search-main {
        float: left;
        width: 540px;
        height: 58px;
        margin-left: 20px; }
        header .header-search-wrap .header-search .header-search-main #txt {
          width: 450px;
          height: 32px;
          border: 0;
          border: 3px solid #cc0000;
          float: left; }
        header .header-search-wrap .header-search .header-search-main #search {
          border: 0;
          width: 78px;
          height: 38px;
          float: left;
          border: 3px solid #cc0000;
          background: #cc0000;
          color: #fff; }
        header .header-search-wrap .header-search .header-search-main p {
          line-height: 28px; }
          header .header-search-wrap .header-search .header-search-main p a {
            padding: 0 6px;
            border-right: 1px solid #999; }
      header .header-search-wrap .header-search .header-search-right {
        width: 363px;
        height: 64px;
        float: right; }
  header .nav-wrap {
    width: 100%;
    height: 34px;
    background: #990000; }
    header .nav-wrap nav {
      width: 1200px;
      height: 34px;
      margin: 0 auto;
      position: relative; }
      header .nav-wrap nav h2 {
        width: 190px;
        background: #ce171f;
        color: #fff;
        line-height: 34px;
        text-align: center;
        float: left;
        cursor: pointer; }
      header .nav-wrap nav .main-nav {
        width: 190px;
        height: 470px;
        position: absolute;
        left: 0;
        top: 34px;
        background: #fff;
        z-index: 106; }
        header .nav-wrap nav .main-nav .main-nav-list {
          width: 190px;
          height: 81px;
          border-bottom: 1px solid #e4e4e4; }
          header .nav-wrap nav .main-nav .main-nav-list:hover {
            background: #f1f1f1;
            border-left: 3px solid #ce171f;
            width: 187px; }
          header .nav-wrap nav .main-nav .main-nav-list h4 {
            width: 163px;
            height: 32px;
            overflow: hidden;
            margin-left: 13px; }
            header .nav-wrap nav .main-nav .main-nav-list h4 a {
              float: left;
              line-height: 37px;
              margin-left: 12px;
              text-decoration: none;
              color: #000; }
            header .nav-wrap nav .main-nav .main-nav-list h4 span {
              float: left;
              margin-top: 13px;
              width: 14px;
              height: 19px;
              background: url(../image/public-24.png) no-repeat;
              background-position: top -265px left -73px; }
          header .nav-wrap nav .main-nav .main-nav-list .main-nav-list1 {
            width: 170px;
            height: 44px;
            margin-left: 13px; }
            header .nav-wrap nav .main-nav .main-nav-list .main-nav-list1 p {
              height: 20px;
              width: 170; }
              header .nav-wrap nav .main-nav .main-nav-list .main-nav-list1 p a {
                display: inline-block;
                float: left;
                line-height: 16px;
                padding: 0 4px;
                margin: 2px 3px 2px 0;
                text-decoration: none;
                color: #666; }
      header .nav-wrap nav .main-nav-big {
        width: 616px;
        height: 470px;
        position: absolute;
        left: 190px;
        top: 34px;
        background: #fff;
        z-index: 106;
        display: none; }
      header .nav-wrap nav ul {
        float: left; }
        header .nav-wrap nav ul li {
          float: left;
          position: relative;
          line-height: 34px;
          background: url(../image/navLine.png) no-repeat left; }
          header .nav-wrap nav ul li:hover {
            background: #b40c10; }
          header .nav-wrap nav ul li a {
            padding: 0 22px;
            color: #fff;
            text-decoration: none; }
          header .nav-wrap nav ul li span {
            position: absolute;
            top: -15px;
            right: 5px;
            color: #f42f2f;
            font-size: 16px; }
    header .nav-wrap .nav-right {
      float: right; }

.banner {
  width: 100%;
  height: 470px;
  background: #55A532;
  position: relative; }
  .banner ul {
    position: relative;
    left: 0;
    top: 0; }
    .banner ul li {
      width: 100%;
      height: 470px;
      position: absolute; }
      .banner ul li .banner-center {
        width: 1200px;
        height: 470px;
        margin: 0 auto;
        position: relative; }
        .banner ul li .banner-center .banner-list {
          width: 190px;
          height: 470px;
          position: absolute;
          top: 0;
          right: 0; }
          .banner ul li .banner-center .banner-list a {
            display: block;
            height: 156px;
            width: 190px; }
            .banner ul li .banner-center .banner-list a span {
              display: block;
              height: 156px;
              width: 190px;
              background: rgba(0, 0, 0, 0.3); }
            .banner ul li .banner-center .banner-list a:hover span {
              display: none; }
          .banner ul li .banner-center .banner-list a:nth-of-type(2) {
            margin: 1px 0; }
    .banner ul li:nth-of-type(1) {
      background: url(../image/banner1.jpg) no-repeat center;
      z-index: 20; }
    .banner ul li:nth-of-type(2) {
      background: url(../image/banner2.jpg) no-repeat center; }
    .banner ul li:nth-of-type(3) {
      background: url(../image/banner3.jpg) no-repeat center; }
    .banner ul li:nth-of-type(4) {
      background: url(../image/banner4.jpg) no-repeat center; }
    .banner ul li:nth-of-type(5) {
      background: url(../image/banner5.jpg) no-repeat center; }
    .banner ul li:nth-of-type(6) {
      background: url(../image/banner6.jpg) no-repeat center; }
    .banner ul li:nth-of-type(7) {
      background: url(../image/banner7.jpg) no-repeat center; }
    .banner ul li:nth-of-type(8) {
      background: url(../image/banner8.jpg) no-repeat center; }
  .banner .banner-nav {
    position: absolute;
    bottom: 15px;
    height: 20px;
    width: 100%;
    text-align: center;
    z-index: 100; }
    .banner .banner-nav .banner-nav-center span {
      display: inline-block;
      width: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      box-shadow: 0 0 3px #ddd; }
    .banner .banner-nav .banner-nav-center .on {
      background: #ba3853; }

.content {
  width: 100%;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  margin-top: 10px; }
  .content .content-left {
    width: 112px;
    height: 1000px;
    background: #fff;
    float: left; }
    .content .content-left a {
      display: block;
      width: 112px;
      height: 1000px;
      background: url(../image/left.jpg) no-repeat right top; }
  .content .content-main {
    width: 1200px;
    min-height: 500px;
    height: auto !important;
    height: 500px;
    float: left; }
    .content .content-main .content-main1-left {
      width: 918px;
      height: 499px;
      float: left;
      overflow: hidden;
      background: #fff;
      border: 1px solid #eee;
      border-top: 0; }
      .content .content-main .content-main1-left .content-main1-nav {
        width: 918px;
        height: 38px; }
        .content .content-main .content-main1-left .content-main1-nav .hover {
          width: 183px;
          height: 36px;
          border: 0;
          border-top: 2px solid #CC0000;
          background: #fff; }
        .content .content-main .content-main1-left .content-main1-nav li {
          float: left;
          height: 35px;
          border-right: 1px solid #eee;
          width: 183px;
          border: 1px solid #cecece;
          border-right: 0;
          border-top: 2px solid #cecece;
          text-align: center;
          line-height: 36px;
          background: #f9f9f9;
          cursor: pointer; }
      .content .content-main .content-main1-left .content-main1-show {
        width: 918px;
        height: 440px;
        margin: 10px 0;
        overflow: hidden; }
        .content .content-main .content-main1-left .content-main1-show li {
          float: left;
          width: 182px;
          height: 196px;
          margin-top: 20px; }
          .content .content-main .content-main1-left .content-main1-show li .con-title {
            width: 182px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
    .content .content-main .content-main1-right {
      width: 270px;
      height: 500px;
      float: right;
      overflow: hidden; }
      .content .content-main .content-main1-right .con-right-top {
        width: 268px;
        height: 139px;
        overflow: hidden;
        border: 1px solid #cecece;
        border-top: 0;
        background: #fff; }
        .content .content-main .content-main1-right .con-right-top .con-top-nav {
          height: 37px; }
          .content .content-main .content-main1-right .con-right-top .con-top-nav .hover {
            width: 134px;
            height: 35px;
            border: 0;
            border-top: 2px solid #CC0000;
            background: #fff; }
          .content .content-main .content-main1-right .con-right-top .con-top-nav li {
            float: left;
            width: 133px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            border: 1px solid #cecece;
            border-right: 0;
            background: #f9f9f9;
            cursor: pointer; }
        .content .content-main .content-main1-right .con-right-top .con-top-list {
          width: 268px;
          height: 84px;
          background: #fff;
          margin: 8px 0 10px; }
          .content .content-main .content-main1-right .con-right-top .con-top-list ul {
            width: 258px;
            height: 84px;
            margin-left: 10px; }
            .content .content-main .content-main1-right .con-right-top .con-top-list ul li {
              float: left;
              width: 119px;
              line-height: 28px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
      .content .content-main .content-main1-right .con-right-mid, .content .content-main .content-main1-right .con-right-bottom {
        width: 268px;
        height: 157px;
        border: 1px solid #cecece;
        position: relative;
        margin-top: 10px; }
        .content .content-main .content-main1-right .con-right-mid .con-mid-pic, .content .content-main .content-main1-right .con-right-bottom .con-mid-pic {
          height: 157px;
          position: absolute; }
          .content .content-main .content-main1-right .con-right-mid .con-mid-pic li, .content .content-main .content-main1-right .con-right-bottom .con-mid-pic li {
            float: left;
            width: 268px;
            height: 157px; }
            .content .content-main .content-main1-right .con-right-mid .con-mid-pic li a, .content .content-main .content-main1-right .con-right-bottom .con-mid-pic li a {
              display: block;
              height: 157px;
              width: 268px; }
        .content .content-main .content-main1-right .con-right-mid .con-mid-nav, .content .content-main .content-main1-right .con-right-bottom .con-mid-nav, .content .content-main .content-main1-right .con-right-bottom .con-bottom-nav {
          width: 253px;
          height: 10px;
          position: absolute;
          bottom: 10px;
          left: 15px; }
          .content .content-main .content-main1-right .con-right-mid .con-mid-nav .active, .content .content-main .content-main1-right .con-right-bottom .con-mid-nav .active, .content .content-main .content-main1-right .con-right-bottom .con-bottom-nav .active {
            background: #6d81ae; }
          .content .content-main .content-main1-right .con-right-mid .con-mid-nav span, .content .content-main .content-main1-right .con-right-bottom .con-mid-nav span, .content .content-main .content-main1-right .con-right-bottom .con-bottom-nav span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            background: #ccc;
            cursor: pointer;
            border-radius: 50%; }
      .content .content-main .content-main1-right .con-right-bottom {
        height: 178px; }
        .content .content-main .content-main1-right .con-right-bottom .con-bottom-pic {
          height: 178px;
          position: absolute; }
          .content .content-main .content-main1-right .con-right-bottom .con-bottom-pic li {
            float: left;
            width: 268px;
            height: 178px; }
    .content .content-main .content-main1 {
      width: 1200px;
      height: 110px;
      background: #fff;
      margin: 21px 0 40px; }
  .content .content-right {
    width: 111px;
    height: 1000px;
    background: #fff;
    float: right; }
    .content .content-right a {
      display: block;
      width: 112px;
      height: 1000px;
      background: url(../image/right.jpg) no-repeat left top; }

section {
  width: 1200px;
  min-height: 500px;
  height: auto !important;
  height: 500px;
  margin: 0 auto; }
  section .section-main1 {
    width: 1200px;
    height: 110px;
    background: #FFF;
    margin: 21px 0 40px; }
    section .section-main1 div {
      width: 396px;
      height: 110px;
      float: left;
      background: #ececec; }
      section .section-main1 div a {
        display: block;
        width: 290px;
        height: 126px; }
  section .section-rollshows {
    width: 1200px;
    height: 289px;
    position: relative; }
    section .section-rollshows .sec-rol-left {
      display: block;
      width: 27px;
      height: 56px;
      position: absolute;
      top: 100px;
      left: 0;
      background: url(../image/newIndexIcon-24.png) no-repeat;
      background-position: top -28px left 0;
      z-index: 100;
      cursor: pointer; }
    section .section-rollshows .sec-rol-right {
      display: block;
      width: 27px;
      height: 56px;
      position: absolute;
      top: 100px;
      right: 0;
      background: url(../image/newIndexIcon-24.png) no-repeat;
      background-position: top -28px left -28px;
      z-index: 100;
      cursor: pointer; }
    section .section-rollshows .section-rollshows-title {
      width: 1200px;
      height: 30px; }
      section .section-rollshows .section-rollshows-title h3 {
        float: left; }
        section .section-rollshows .section-rollshows-title h3 span {
          float: left;
          width: 20px;
          height: 20px;
          background: url(../image/newIndexIcon-24.png) no-repeat left top;
          margin-left: 3px;
          margin-right: 10px; }
      section .section-rollshows .section-rollshows-title .sec-rol-nav {
        float: right;
        margin-right: 3px; }
        section .section-rollshows .section-rollshows-title .sec-rol-nav .active {
          background: #CC0000; }
        section .section-rollshows .section-rollshows-title .sec-rol-nav span {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: #ccc;
          cursor: pointer; }
    section .section-rollshows .sec-rol-list {
      width: 1198px;
      height: 257px;
      border: 1px solid #ECECEC;
      position: absolute;
      overflow: hidden; }
      section .section-rollshows .sec-rol-list .rol-list-box {
        width: 10000px;
        height: 257px;
        position: absolute; }
        section .section-rollshows .sec-rol-list .rol-list-box .rol-list {
          float: left;
          width: 1198px;
          height: 257px; }
          section .section-rollshows .sec-rol-list .rol-list-box .rol-list ul {
            width: 1198px;
            height: 257px;
            padding: 0 5px; }
            section .section-rollshows .sec-rol-list .rol-list-box .rol-list ul li {
              float: left;
              width: 198px;
              height: 257px; }
              section .section-rollshows .sec-rol-list .rol-list-box .rol-list ul li .rol-list-title {
                width: 190px;
                height: 18px;
                padding: 0 4px;
                line-height: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
              section .section-rollshows .sec-rol-list .rol-list-box .rol-list ul li .rol-list-pic {
                width: 198px;
                height: 160px;
                padding: 19px; }
              section .section-rollshows .sec-rol-list .rol-list-box .rol-list ul li .roll-price {
                color: #CC0000;
                padding: 0 4px; }
  section .section-floor1 {
    width: 1200px;
    height: 700px;
    margin-top: 16px;
    clear: both; }
    section .section-floor1 .sec-flo-title {
      width: 1194px;
      height: 35px;
      padding: 0 3px;
      overflow: hidden; }
      section .section-floor1 .sec-flo-title .sec-flo-left {
        float: left;
        line-height: 30px;
        font-size: 16px; }
        section .section-floor1 .sec-flo-title .sec-flo-left span {
          float: left;
          width: 28px;
          height: 29px;
          margin-right: 10px;
          text-align: center;
          line-height: 28px;
          color: #fff;
          background: url(../image/newIndexIcon-24.png);
          background-position: top -95px left 0; }
      section .section-floor1 .sec-flo-title .sec-flo-right {
        float: right; }
        section .section-floor1 .sec-flo-title .sec-flo-right a {
          line-height: 30px;
          display: inline;
          padding: 0 8px;
          border-left: 3px solid #b199b1;
          border-image: url(../image/flo-right-bor.jpg) no-repeat left; }
      section .section-floor1 .sec-flo-title .flor-name {
        float: right;
        width: 60px;
        height: 23px;
        font-weight: 900;
        margin-top: 3px;
        background: #CC0000;
        text-align: center;
        line-height: 23px;
        border-radius: 3px; }
        section .section-floor1 .sec-flo-title .flor-name a {
          color: #fff;
          text-decoration: none; }
    section .section-floor1 .sec-flo-main {
      width: 1198px;
      height: 647px;
      border: 1px solid #ececec;
      border-top: 2px solid #CC0000;
      border-right: 0; }
      section .section-floor1 .sec-flo-main .flo-main-left {
        width: 210px;
        height: 647px;
        float: left;
        border-right: 1px solid #ececec; }
        section .section-floor1 .sec-flo-main .flo-main-left .flo-left-top {
          width: 210px;
          height: 485px;
          overflow: hidden;
          position: relative; }
          section .section-floor1 .sec-flo-main .flo-main-left .flo-left-top ul {
            width: 840px;
            position: absolute; }
            section .section-floor1 .sec-flo-main .flo-main-left .flo-left-top ul li {
              float: left;
              width: 210px;
              height: 485px; }
              section .section-floor1 .sec-flo-main .flo-main-left .flo-left-top ul li a {
                display: block;
                height: 210px;
                height: 485px; }
          section .section-floor1 .sec-flo-main .flo-main-left .flo-left-top .flo-left-top-nav {
            width: 210px;
            position: absolute;
            height: 15px;
            bottom: 10px;
            text-align: center; }
            section .section-floor1 .sec-flo-main .flo-main-left .flo-left-top .flo-left-top-nav .active {
              background: #fc5422; }
            section .section-floor1 .sec-flo-main .flo-main-left .flo-left-top .flo-left-top-nav span {
              display: inline-block;
              width: 15px;
              height: 15px;
              background: #fff;
              border-radius: 50%;
              margin: 0 8px;
              cursor: pointer; }
        section .section-floor1 .sec-flo-main .flo-main-left .flo-left-bottom {
          width: 186px;
          height: 217px;
          border-top: 1px solid #ececec;
          padding: 17px 12px; }
          section .section-floor1 .sec-flo-main .flo-main-left .flo-left-bottom .flo-left-bottom-list {
            width: 186px;
            height: 60px;
            overflow: hidden; }
            section .section-floor1 .sec-flo-main .flo-main-left .flo-left-bottom .flo-left-bottom-list h4 {
              width: 186px;
              height: 19px;
              line-height: 19px;
              color: #CC0000;
              overflow: hidden; }
              section .section-floor1 .sec-flo-main .flo-main-left .flo-left-bottom .flo-left-bottom-list h4 span {
                float: left;
                width: 3px;
                height: 3px;
                background: #CC0000;
                margin-right: 5px;
                margin-top: 8px; }
            section .section-floor1 .sec-flo-main .flo-main-left .flo-left-bottom .flo-left-bottom-list p {
              width: 178px;
              height: 36px;
              margin: 5px 0 0 8px;
              line-height: 18px; }
              section .section-floor1 .sec-flo-main .flo-main-left .flo-left-bottom .flo-left-bottom-list p a {
                display: inline-block;
                padding-right: 10px; }
      section .section-floor1 .sec-flo-main .flo-main-right {
        width: 987px;
        float: right; }
        section .section-floor1 .sec-flo-main .flo-main-right .flo-right-top {
          width: 987px;
          height: 485px;
          background: #fff; }
          section .section-floor1 .sec-flo-main .flo-main-right .flo-right-top ul {
            width: 985px;
            height: 483px;
            padding: 1px;
            border-bottom: 1px solid #ececec;
            overflow: hidden; }
            section .section-floor1 .sec-flo-main .flo-main-right .flo-right-top ul li {
              float: left;
              width: 196px;
              height: 232px;
              padding-top: 10px;
              overflow: hidden;
              border-bottom: 1px solid #ececec;
              border-right: 1px solid #ececec; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-top ul li .top-list-pic {
                width: 160px;
                height: 160px;
                margin: 0 auto; }
                section .section-floor1 .sec-flo-main .flo-main-right .flo-right-top ul li .top-list-pic a {
                  display: block;
                  height: 160px;
                  width: 160px; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-top ul li .top-list-title {
                width: 160px;
                height: 36px;
                padding: 0 18px;
                margin-top: 5px; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-top ul li .top-list-price {
                width: 178px;
                height: 18px;
                padding-left: 18px;
                line-height: 18px;
                color: #CC0000; }
        section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom {
          width: 987px;
          height: 161px;
          border-right: 1px solid #ececec;
          background: #fff;
          border-top: 1px solid #ececec; }
          section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-title {
            width: 987px;
            height: 32px; }
            section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-title h4 {
              float: left;
              margin-left: 14px;
              color: #CC0000;
              line-height: 32px;
              overflow: hidden; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-title h4 span {
                float: left;
                width: 11px;
                height: 13px;
                margin-top: 10px;
                margin-right: 5px;
                background: url(../image/newIndexIcon-24.png) no-repeat;
                background-position: top 0 left -38px; }
            section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-title ul {
              float: right;
              line-height: 32px;
              margin-right: 12px; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-title ul .hover {
                color: #CC0000; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-title ul li {
                display: inline;
                padding: 0 10px 0 11px;
                cursor: pointer;
                border-right: 1px solid #ddd; }
          section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-show {
            width: 985px;
            margin-left: 2px;
            height: 100px;
            padding: 10px 0 17px 0; }
            section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-show dl {
              width: 190px;
              padding-right: 7px;
              height: 100px;
              float: left;
              overflow: hidden; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-show dl dt {
                float: left;
                width: 96px;
                height: 96px;
                margin: 2px 7px; }
                section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-show dl dt a {
                  display: block;
                  height: 96px;
                  width: 96px; }
              section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-show dl dd {
                float: left;
                margin-top: 5px;
                width: 80px;
                height: 64px;
                overflow: hidden; }
                section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-show dl dd p {
                  width: 80px;
                  height: 36px;
                  line-height: 18px;
                  overflow: hidden; }
                section .section-floor1 .sec-flo-main .flo-main-right .flo-right-bottom .flo-bottom-show dl dd b {
                  display: block;
                  height: 18px;
                  margin-top: 5px;
                  font-size: 16px; }
  section .section-floor2 {
    width: 1200px;
    height: 700px;
    margin-top: 16px;
    clear: both; }
    section .section-floor2 .sec-flo2-title {
      width: 1194px;
      height: 35px;
      padding: 0 3px;
      overflow: hidden; }
      section .section-floor2 .sec-flo2-title .sec-flo2-left {
        float: left;
        line-height: 30px;
        font-size: 16px; }
        section .section-floor2 .sec-flo2-title .sec-flo2-left span {
          float: left;
          width: 28px;
          height: 29px;
          margin-right: 10px;
          text-align: center;
          line-height: 28px;
          color: #fff;
          background: url(../image/newIndexIcon-24.png);
          background-position: top -95px left -30px; }
      section .section-floor2 .sec-flo2-title .sec-flo2-right {
        float: right; }
        section .section-floor2 .sec-flo2-title .sec-flo2-right a {
          line-height: 30px;
          display: inline;
          padding: 0 8px;
          border-left: 3px solid #b199b1;
          border-image: url(../image/flo-right-bor.jpg) no-repeat left; }
      section .section-floor2 .sec-flo2-title .flor2-name {
        float: right;
        width: 60px;
        height: 23px;
        font-weight: 900;
        margin-top: 3px;
        background: #CC0000;
        text-align: center;
        line-height: 23px;
        border-radius: 3px; }
        section .section-floor2 .sec-flo2-title .flor2-name a {
          color: #fff;
          text-decoration: none; }
    section .section-floor2 .sec-flo2-main {
      width: 1198px;
      height: 647px;
      border: 1px solid #ececec;
      border-top: 2px solid #CC0000;
      border-right: 0; }
      section .section-floor2 .sec-flo2-main .flo2-main-left {
        width: 210px;
        height: 647px;
        float: left;
        border-right: 1px solid #ececec; }
        section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-top {
          width: 210px;
          height: 485px;
          overflow: hidden;
          position: relative; }
          section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-top ul {
            width: 840px;
            position: absolute; }
            section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-top ul li {
              float: left;
              width: 210px;
              height: 485px; }
              section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-top ul li a {
                display: block;
                height: 210px;
                height: 485px; }
          section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-top .flo2-left-top-nav {
            width: 210px;
            position: absolute;
            height: 15px;
            bottom: 10px;
            text-align: center; }
            section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-top .flo2-left-top-nav .active {
              background: #fc5422; }
            section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-top .flo2-left-top-nav span {
              display: inline-block;
              width: 15px;
              height: 15px;
              background: #fff;
              border-radius: 50%;
              margin: 0 8px;
              cursor: pointer; }
        section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-bottom {
          width: 186px;
          height: 217px;
          border-top: 1px solid #ececec;
          padding: 17px 12px; }
          section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-bottom .flo2-left-bottom-list {
            width: 186px;
            height: 60px;
            overflow: hidden; }
            section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-bottom .flo2-left-bottom-list h4 {
              width: 186px;
              height: 19px;
              line-height: 19px;
              color: #CC0000;
              overflow: hidden; }
              section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-bottom .flo2-left-bottom-list h4 span {
                float: left;
                width: 3px;
                height: 3px;
                background: #CC0000;
                margin-right: 5px;
                margin-top: 8px; }
            section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-bottom .flo2-left-bottom-list p {
              width: 178px;
              height: 36px;
              margin: 5px 0 0 8px;
              line-height: 18px; }
              section .section-floor2 .sec-flo2-main .flo2-main-left .flo2-left-bottom .flo2-left-bottom-list p a {
                display: inline-block;
                padding-right: 5px; }
      section .section-floor2 .sec-flo2-main .flo2-main-right {
        width: 987px;
        float: right; }
        section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-top {
          width: 987px;
          height: 485px;
          background: #fff; }
          section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-top ul {
            width: 985px;
            height: 483px;
            padding: 1px;
            border-bottom: 1px solid #ececec;
            overflow: hidden; }
            section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-top ul li {
              float: left;
              width: 196px;
              height: 232px;
              padding-top: 10px;
              overflow: hidden;
              border-bottom: 1px solid #ececec;
              border-right: 1px solid #ececec; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-top ul li .top-list-pic {
                width: 160px;
                height: 160px;
                margin: 0 auto; }
                section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-top ul li .top-list-pic a {
                  display: block;
                  height: 160px;
                  width: 160px; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-top ul li .top-list-title {
                width: 160px;
                height: 36px;
                padding: 0 18px;
                margin-top: 5px; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-top ul li .top-list-price {
                width: 178px;
                height: 18px;
                padding-left: 18px;
                line-height: 18px;
                color: #CC0000; }
        section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom {
          width: 987px;
          height: 161px;
          border-right: 1px solid #ececec;
          background: #fff;
          border-top: 1px solid #ececec; }
          section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-title {
            width: 987px;
            height: 32px; }
            section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-title h4 {
              float: left;
              margin-left: 14px;
              color: #bd7833;
              line-height: 32px;
              overflow: hidden; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-title h4 span {
                float: left;
                width: 11px;
                height: 13px;
                margin-top: 10px;
                margin-right: 5px;
                background: url(../image/newIndexIcon-24.png) no-repeat;
                background-position: top 0 left -24px; }
            section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-title ul {
              float: right;
              line-height: 32px;
              margin-right: 12px; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-title ul .hover {
                color: #CC0000; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-title ul li {
                display: inline;
                padding: 0 10px 0 11px;
                cursor: pointer;
                border-right: 1px solid #ddd; }
          section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-show {
            width: 985px;
            margin-left: 2px;
            height: 100px;
            padding: 10px 0 17px 0; }
            section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-show dl {
              width: 190px;
              padding-right: 7px;
              height: 100px;
              float: left;
              overflow: hidden; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-show dl dt {
                float: left;
                width: 96px;
                height: 96px;
                margin: 2px 7px; }
                section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-show dl dt a {
                  display: block;
                  height: 96px;
                  width: 96px; }
              section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-show dl dd {
                float: left;
                margin-top: 5px;
                width: 80px;
                height: 64px;
                overflow: hidden; }
                section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-show dl dd p {
                  width: 80px;
                  height: 36px;
                  line-height: 18px;
                  overflow: hidden; }
                section .section-floor2 .sec-flo2-main .flo2-main-right .flo2-right-bottom .flo2-bottom-show dl dd b {
                  display: block;
                  height: 18px;
                  margin-top: 5px;
                  font-size: 16px; }
  section .section-floor3 {
    width: 1200px;
    height: 522px;
    margin-top: 16px; }
    section .section-floor3 .sec-flo3-title {
      width: 1194px;
      height: 35px;
      padding: 0 3px;
      overflow: hidden; }
      section .section-floor3 .sec-flo3-title .sec-flo3-left {
        float: left;
        line-height: 30px;
        font-size: 16px;
        color: #fff; }
        section .section-floor3 .sec-flo3-title .sec-flo3-left span {
          float: left;
          width: 28px;
          height: 29px;
          margin-right: 10px;
          text-align: center;
          line-height: 28px;
          background: url(../image/newIndexIcon-24.png) no-repeat;
          background-position: top -95px left -61px; }
      section .section-floor3 .sec-flo3-title .flor3-name {
        float: right;
        width: 60px;
        height: 23px;
        font-weight: 900;
        margin-top: 3px;
        background: #276594;
        text-align: center;
        line-height: 23px;
        border-radius: 3px; }
        section .section-floor3 .sec-flo3-title .flor3-name a {
          color: #fff;
          text-decoration: none; }
      section .section-floor3 .sec-flo3-title .sec-flo3-right {
        float: right; }
        section .section-floor3 .sec-flo3-title .sec-flo3-right a {
          line-height: 30px;
          display: inline;
          padding: 0 8px;
          border-left: 3px solid #b199b1;
          border-image: url(../image/flo-right-bor.jpg) no-repeat left; }
    section .section-floor3 .sec-flo3-main {
      width: 1198px;
      height: 485px;
      border: 1px solid #ececec;
      border-top: 2px solid #276594; }
      section .section-floor3 .sec-flo3-main .flo3-main-left {
        width: 210px;
        height: 485px;
        float: left;
        background: #fff; }
        section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-top {
          width: 210px;
          height: 320px;
          overflow: hidden;
          position: relative; }
          section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-top .flo3-left-top-list {
            height: 320px;
            width: 630px;
            position: absolute; }
            section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-top .flo3-left-top-list li {
              width: 210px;
              height: 320px;
              float: left; }
              section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-top .flo3-left-top-list li a {
                display: block;
                width: 210px;
                height: 320px; }
          section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-top .flo3-left-top-nav {
            width: 210px;
            height: 15px;
            position: absolute;
            bottom: 10px;
            text-align: center; }
            section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-top .flo3-left-top-nav .active {
              background: #296693; }
            section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-top .flo3-left-top-nav span {
              display: inline-block;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background: #fff;
              cursor: pointer; }
        section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-bottom {
          width: 186px;
          height: 132px;
          border-top: 1px solid #ececec;
          padding: 17px 12px; }
          section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-bottom .flo3-left-bottom-list {
            width: 186px;
            height: 60px;
            overflow: hidden; }
            section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-bottom .flo3-left-bottom-list h4 {
              width: 186px;
              height: 19px;
              line-height: 19px;
              color: #CC0000;
              overflow: hidden; }
              section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-bottom .flo3-left-bottom-list h4 span {
                float: left;
                width: 3px;
                height: 3px;
                background: #CC0000;
                margin-right: 5px;
                margin-top: 8px; }
            section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-bottom .flo3-left-bottom-list p {
              width: 178px;
              height: 36px;
              margin: 5px 0 0 8px;
              line-height: 18px; }
              section .section-floor3 .sec-flo3-main .flo3-main-left .flo3-left-bottom .flo3-left-bottom-list p a {
                display: inline-block;
                padding-right: 5px; }
      section .section-floor3 .sec-flo3-main .flo3-main-right {
        width: 988px;
        height: 485px;
        float: right;
        background: #fff; }
        section .section-floor3 .sec-flo3-main .flo3-main-right ul {
          width: 985px;
          height: 484px;
          border-bottom: 1px solid #ececec;
          overflow: hidden; }
          section .section-floor3 .sec-flo3-main .flo3-main-right ul li {
            float: left;
            width: 196px;
            height: 232px;
            padding-top: 10px;
            overflow: hidden;
            border-bottom: 1px solid #ececec;
            border-left: 1px solid #ececec; }
            section .section-floor3 .sec-flo3-main .flo3-main-right ul li .top-list-pic {
              width: 160px;
              height: 160px;
              margin: 0 auto; }
              section .section-floor3 .sec-flo3-main .flo3-main-right ul li .top-list-pic a {
                display: block;
                height: 160px;
                width: 160px; }
            section .section-floor3 .sec-flo3-main .flo3-main-right ul li .top-list-title {
              width: 160px;
              height: 36px;
              padding: 0 18px;
              margin-top: 5px; }
            section .section-floor3 .sec-flo3-main .flo3-main-right ul li .top-list-price {
              width: 178px;
              height: 18px;
              padding-left: 18px;
              line-height: 18px;
              color: #CC0000; }

footer {
  width: 100%;
  height: 568px;
  background: #333; }

/*# sourceMappingURL=style.css.map */
